<%= render 'sub_nav' %>
<%= render "heading" %>
<%= render "education" %>
<% @category.experiences.each do |experience| %>
	<h4>
		<%= experience.position unless experience.position.nil? %>
	</h4>
	<h5>
		<%= experience.title %><%= ", " + experience.location unless experience.location.nil? %>
	</h5>
	<h6>
		<%= experience.start_date.strftime('%B %Y') unless experience.start_date.nil? %>
		<%= " - " + experience.end_date.strftime('%B %Y') unless experience.end_date.nil? %>
	</h6>
	<% unless experience.description.nil? %>
			<p><%= experience.description %></p>
	<% end %> 
<% end %>
